# Make nano the default editor
export EDITOR="nano"

# export MANPAGER="cat"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="&:[ ]*:pwd;exit:date:* --help"

# JsTestDriver preffix
export JSTESTDRIVER_HOME=~/bin/java

# Python path
export PYTHONPATH=/usr/local/lib/python2.6/site-packages/

# This changes the blue for directories to cyan:
export LSCOLORS=gxfxcxdxbxegedabagacad