export EDITOR='code -w'
export VISUAL='code -w'

# export MANPAGER="cat"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="&:[ ]*:pwd:s *:exit:date"

# Python path
export PYTHONPATH=/usr/local/lib/python2.7/site-packages/

# This changes the blue for directories to cyan:
export LSCOLORS=gxfxcxdxbxegedabagacad

# Correctly set the JAVA_HOME var for Maven to work
# export JAVA_HOME=$(/usr/libexec/java_home)

# GO
export GOPATH=$HOME/projects/Go
