[user]
	name = George Crawford
	email = george.crawford@ft.com
	# email = g.o.crawford@gmail.com
[core]
	editor = nano
	pager = cat
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,blank-at-eol,tabwidth=4
[alias]
	br = branch
	c = commit -am
	ci = commit
	co = checkout
	d = difftool
	df = diff --color --color-words --abbrev
	di = diff --color-words
	hist = log --pretty=tformat:'%x09%C(blue)%h %C(red)%ad%C(reset)%C(red) (%ar) %C(yellow)%an%C(reset): %s%C(green)%d%n' --date=short --graph --date-order --max-count=100
	l10 = log --pretty=tformat:'%x09%C(blue)%h %C(red)%ad%C(reset)%C(red) (%ar) %C(yellow)%an%C(reset): %s%C(green)%d%n' --date=short --graph --date-order --max-count=10
	l20 = log --pretty=tformat:'%x09%C(blue)%h %C(red)%ad%C(reset)%C(red) (%ar) %C(yellow)%an%C(reset): %s%C(green)%d%n' --date=short --graph --date-order --max-count=20
	p = push
	s = status
	up = pull
[mergetool]
	keepBackup = true
[push]
	default = tracking
[color]
	ui = auto
	diff = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	tool = "bbdiff"
	renames = copies
[difftool]
	prompt = NO
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume --ignore-trailing-spaces "$LOCAL" "$REMOTE"
[merge]
	tool = bbdiff
	log = true
	stat = true
[mergetool]
	prompt = no
	keepBackup = false
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"
[alias]
	bbmerge = mergetool
[init]
	templatedir = ~/ftlabs/Git/templates/
[apply]
	whitespace = fix
